<h1>Frequently Asked Questions</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email</h3>
  </div>
  <div class="panel-body">
    Login to your email  <a href="https://login.bluehost.com/cgi/webmail">here</a> your password is the same as the one you use to login here
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deactivating a jobsite</h3>
  </div>
  <div class="panel-body">
    When you edit a jobsite and deactivate it all of the tools assigned to that jobsite are "returned" to the shop so don't do it unless the job is actually over.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Personal Tools</h3>
  </div>
  <div class="panel-body">
    Personal tools are tools that are given to you by KWE that travel with you from jobsite to jobsite. These tools should be assigned to the jobsite PERSONAL with the job # 00-001
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tool Ownership</h3>
  </div>
  <div class="panel-body">
    Only the owner of the tool is allowed to edit the tool. Also you can not claim a tool that is owned by someone else, the exception being if the tool is owned by the shop. If it is owned by the shop you can check the tool out by clicking edit and changing the tool to the jobsite number you are working on or the personal jobsite if the tool is now your personal tools.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Jobsite list</h3>
  </div>
  <div class="panel-body">
    If a jobsite is red in the jobsite list it means it has been deactivated, you will not be able to add tools or add hours to this job. If you need to reactivate the jobsite click edit and enable the checkbox beside active and press update jobsite.
  </div>
</div>