<div data-role="navbar" class="ui-bar-a">
  <ul>
    <li><%= link_to "Tools", tools_path %></li>
    <li><%= link_to "Jobsite", jobsites_path %></li>
    <li><%= link_to "Employees", users_path %></li>
  </ul>
</div